:root {
  --font-base: "Montserrat", sans-serif;
  --color-bg: #f0f0f0;
  --color-text: #222;
  --color-accent: #4f46e5;
  --color-main: #162328;
  --color-secondary: #3fc060;
  --color-card-bg: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(14px + 0.1vw);
}

body {
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

header,
footer {
  background: var(--color-main);
  color: white;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header {
  position: sticky;
  top: 0;
}

footer {
  position: relative;
  bottom: 0;
}

#site-title,
#footer-title {
  font-weight: normal;
  font-size: 1.8rem;
}

#site-title-bold,
#footer-title-bold {
  font-weight: bold;
  margin-left: 0.25rem;
  color: var(--color-secondary);
}

#quiz-link {
  color: var(--color-secondary);
  font-weight: bold;
}

.header-quiz {
  height: 4rem;
}

main {
  flex: 1;
  padding: 1rem 2rem;
}

.zoom-container {
  transform: scale(1);
  transform-origin: top center;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("foodpattern2.jpg");
  background-repeat: repeat;
  background-size: 15%;
  background-position: top left;
  background-attachment: fixed;
}

.zoom-container a {
  text-decoration: none;
  color: inherit;
}

.header-restaurant {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 4rem;
}

.restaurant-name {
  justify-self: center;
  font-size: 2rem;
  color: var(--color-secondary);
  margin: 0;
}

#back-link {
  color: var(--color-secondary);
  font-weight: 600;
  justify-self: start;
}

#restaurants-text-top {
  justify-self: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 2rem 2rem;
  width: auto;
  margin: 1rem auto 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#restaurants-title {
  font-size: 4rem;
  color: var(--color-secondary);
}

#restaurants-description {
  font-size: 1.1rem;
  color: #555;
}

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  aspect-ratio: 3 / 4;
}

.restaurant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.restaurant-card img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.restaurant-card h3 {
  color: var(--color-secondary);
  font-size: 1.9rem;
  width: 100%;
  text-align: center;
}

.menu-text-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #ccc;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: stretch;
}

.menu-too-short {
  margin: 6.6rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  height: 30rem;
}

.menu-item-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid var(--color-secondary);
}

.menu-item-no-zoom {
  object-fit: contain;
}

.menu-item h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.menu-item-description {
  font-size: 0.8rem;
  color: #555;
  margin: 1rem 0;
  font-style: italic;
  flex-grow: 1;
}

.menu-item-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.menu-item a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.order-btn {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: 20%;
  max-height: 3rem;
}

.order-btn:hover {
  background-color: #33b34a;
}

#cart-link {
  position: relative;
  display: inline-block;
  color: var(--color-secondary);
  font-size: 1.5rem;
  justify-self: end;
  transition: color 0.2s ease;
}

#cart-link:hover {
  color: #33b34a;
}

.cart-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#cart-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

#cart-sidebar {
  position: fixed;
  top: 0;
  right: -20%;
  width: 20%;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1001;
  padding: 1rem;
  overflow-y: hidden;
}

#cart-sidebar.open {
  right: 0;
}

#cart-sidebar h2 {
  margin: 0.2rem 0 0;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-align: left;
}

#close-cart {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  float: right;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.cart-header h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--color-main);
}

.cart-content {
  height: calc(100% - 19rem);
  overflow-y: auto;
}

.cart-footer {
  position: sticky;
  bottom: 0;
  justify-self: center;
  width: 100%;
  display: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
}

.cart-label {
  font-weight: bold;
}

#order-notes {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

#order-notes:active,
#order-notes:focus {
  outline: none;
  border: 2px solid var(--color-secondary);
}

#checkout-btn {
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  margin: 1rem auto 0;
  display: block;
}

#item-modal {
  border: none;
  border-radius: 12px;
  width: 80%;
  max-width: 700px;
  padding: 0;
}

#item-modal .modal-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

#item-modal img {
  flex: 1;
  border-radius: 5px;
  object-fit: cover;
}

#item-modal .modal-text {
  flex: 1;
}

#close-modal {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#close-modal:hover {
  background-color: #33b34a;
}

.logo-resize {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.not-done {
  background: #ffcece;
}

.needs-list {
  background: #fff4e5;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 5rem;
  margin-top: 1rem;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0;
}

.list-title {
  color: var(--color-secondary);
  font-size: 1.5rem;
  text-decoration: underline;
}

.quiz-card {
  background: var(--color-card-bg);
  border-radius: 10px;
  padding: 2rem;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quiz-card h2 {
  color: var(--color-secondary);
  font-size: 2rem;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--color-secondary);
  cursor: pointer;
  border: 2px solid var(--color-main);
  transition: transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--color-secondary);
  border: 2px solid var(--color-main);
  cursor: pointer;
  transition: transform 0.2s;
}

.question label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

#sortable {
  list-style: none;
  padding: 1rem;
  border: 1px dashed #ccc;
  border-radius: 8px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#sortable li {
  padding: 0.8rem 1rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: grab;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#sortable li:active {
  cursor: grabbing;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.quiz-result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.quiz-result-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.quiz-result-card img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 5px;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

#result h2,
#result h3 {
  color: var(--color-secondary);
  text-align: center;
}

.hidden {
  display: none !important;
}

.quiz-result-main,
.quiz-result-backup {
  margin-bottom: -2rem;
}

#main-restaurant-name,
#backup-restaurant-name {
  display: none;
}

#preferred-choice {
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

#preferred-choice option {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quiz-question {
  margin-bottom: 0.5rem;
  font-weight: bold !important;
}

.quiz-card-header {
  border-bottom: 1px dashed var(--color-main);
  padding-bottom: 1rem;
}

@media (min-width: 1441px) {
  .restaurant-grid {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
  .restaurant-grid h3 {
    font-size: 2.5rem;
  }
  .restaurant-grid img {
    height: 80%;
  }
}

@media (max-width: 1440px) {
  .menu-grid {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
  .menu-item {
    min-height: auto;
  }
  .menu-item h3 {
    font-size: 1.5rem;
  }
  #cart-sidebar {
    width: 30%;
    right: -30%;
  }
  .menu-too-short {
    margin: 1rem;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 1024px) {
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .menu-item {
    aspect-ratio: 3 / 4;
    height: 24rem;
  }
  .menu-item h3 {
    font-size: 1rem;
  }
  .menu-item-price {
    font-size: 0.8rem;
  }
  .menu-item-description {
    font-size: 0.6rem;
  }
  .menu-too-short {
    margin: 1rem auto;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .menu-item-image {
    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 768px) {
  .menu-item-description {
    font-size: 0.75rem;
    margin-top: 1.2rem;
  }
  .menu-too-short {
    margin: 1rem auto;
  }
  #cart-sidebar {
    right: -50%;
    width: 50%;
  }
  .cart-row {
    font-size: 1rem;
  }
  .restaurant-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .restaurant-card img {
    margin-top: 0;
  }
  .restaurant-card h3 {
    font-size: 1.5rem;
  }
  .menu-item {
    height: 26rem;
  }
  .quiz-card {
    padding: 1.5rem;
    margin: 1.5rem;
  }
  #sortable li {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
  .quiz-result-card {
    max-width: 90%;
    padding: 0.8rem;
  }
  #result h2 {
    font-size: 1.5rem;
  }
  #result h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .restaurant-grid,
  .menu-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
    align-content: center;
  }
  .menu-item {
    height: 25rem;
    min-height: auto;
  }
  #back-link {
    font-size: 0.7rem;
    width: 70%;
  }
  .restaurant-name {
    font-size: 0.9rem;
  }
  .menu-item-description {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer p {
    font-size: 0.6rem;
  }
  .menu-too-short {
    margin: 3rem auto;
  }
  #cart-sidebar {
    right: -50%;
    width: 50%;
  }
  .cart-row {
    font-size: 0.6rem;
  }
  .restaurant-grid {
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    column-gap: 0;
  }
  .restaurant-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
  }
  .restaurant-card h3 {
    font-size: 0.6rem;
    display: none;
  }
  #restaurants-title {
    font-size: 2.5rem;
  }
  #restaurants-description {
    font-size: 1rem;
  }
  .zoom-container header {
    justify-content: center;
  }
  .header-restaurant {
    padding: 1rem 3.5rem;
  }
  .restaurant-card img {
    height: 100%;
    margin: 0 auto;
    display: block;
    aspect-ratio: 1 / 1;
  }
  #restaurants-text-top {
    padding: 1rem;
  }
  #order-notes {
    font-size: 0.8rem;
  }
  .list-header {
    flex-direction: row;
    gap: 2rem;
    font-size: 0.8rem;
    max-width: 90%;
  }
  .list-title {
    font-size: 1rem;
  }
  #preferred-choice option {
    font-size: 0.8rem !important;
  }
  .quiz-card {
    padding: 1rem;
    margin: 1rem;
  }
  #sortable li {
    font-size: 0.85rem;
    padding: 0.6rem;
  }
  .quiz-result-card {
    width: 95%;
    padding: 0.5rem;
  }
  #result h2 {
    font-size: 1.3rem;
  }
  #result h3 {
    font-size: 1rem;
  }

  #homepage-header {
    display: flex;
    flex-direction: column;
  }

  #quiz-link {
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 320px) {
  .menu-item {
    justify-self: center;
    height: 24rem;
    width: 16rem;
  }
  .menu-item-description {
    font-size: 0.6rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer p {
    font-size: 0.6rem;
  }
  #back-link {
    font-size: 0.5rem;
  }
  .menu-too-short {
    margin: 2rem auto;
  }
  #cart-sidebar {
    right: -70%;
    width: 70%;
  }
  .cart-row {
    font-size: 0.7rem;
  }
  #restaurants-title {
    font-size: 2rem;
  }
  #restaurants-description {
    font-size: 0.8rem;
  }
  .restaurant-name {
    font-size: 0.8rem;
  }
  .menu-item h3 {
    font-size: 0.8rem;
  }
  .restaurant-card {
    height: 7rem;
    width: 7rem;
    margin-top: 0;
  }
  .list-title {
    font-size: 0.8rem;
  }
  .list-header {
    font-size: 0.7rem;
    max-width: 80%;
  }
}
